/*================================================================================
  Item Name: Stack - Responsive Admin Theme
  Version: 1.0
  Author: PIXINVENT
  Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

textarea{resize: none;
    height: 100px;}

  .negro{

      background-color: #D2D2D2;
      color: white;

  }

    .verde{
      background-color: #404E67;
      color: white;
    }
    .azul{

       background-color: #5C8293;
       color: white;
    }
    .texto_a{

       color: #5C8293;

    }
    .gris{  
        background-color: #D2D2D2;
       color: white;
    }
    .gris_tabla{  
        background-color: #D2D2D2;
       color: #5C8293;
    }
    .gris_barra{
      background-color: #D2D2D2;
      color: #D2D2D2;
      font-size: 14px;
    }
    .textos{
      color: #D2D2D2;
      font-size: 14px; 
    }
    .rojo{
       background-color: #ff0010;
       color: white;
    }
    .texto_rojo{
      color: #ff0010;
    }
    .texto_azul{
      color: #5C8293;     
    }
    .texto_gris{
      color: #D2D2D2;
    }
    .texto_verde{
      color: #404E67;
    }
    .texto_negro{
      color: #D2D2D2;
    }

    
   .btn_verde{
         background-color: #404E67  !important;
         color: white;

    }
    .btn_azul{
         background-color: #5C8293  !important;
         color: white;
    }
    .btn_rojo{
         background-color: #ff0010 ;
         color: white;
    }
    .btn_gris{
         background-color: #666666;
         color: white;
    }
    .btn_negro{
         background-color: #D2D2D2;
         color: white;
    }


    .btn_azul:active{
    color: white; background-color: #5C8293  !important;
    }

    .btn_negro:active{
    color: white; background-color: #D2D2D2  !important;
    }
    

    .btn_azul:focus{
       color: white; background-color: #5C8293  !important;
    }

    .btn_azul{
     color: white; background-color: #5C8293  !important;
    } .btn_azul:focus{
        color: white; background-color: #5C8293  !important;
    }
        

    .btn_verde:hover { color: white; background-color: #404E67}
    .btn_rojo:hover { color: white; }
    .btn_gris:hover { color: white; }
    .btn_azul:hover { color: white; background-color: #5C8293}
    .btn_negro:hover { color: white; background-color: #D2D2D2}

    .gris:hover { color: white; }
    .azul:hover { color: white; }
    .rojo:hover { color: white; }
    .btn_gris:hover { color: white; }
    .texto_rojo:hover { color: white; }
    .nav-link active{
         color: #852fbe;
          border-color: #852fbe;
      }
        .btn_verde2:hover { color: #67a900;}

    .main-menu.menu-light .navigation > li ul .active > a {
        color: #A34B0A;
        font-weight: 500;
    }

      .danger{color: #ff0010;}
      .error{color: #ff0010;}

      .main-section{
      margin:0 auto;
      padding: 20px;
      margin-top: 100px;
      background-color: #fff;
      box-shadow: 0px 0px 20px #c1c1c1;
    }
    .fileinput-remove,
    .fileinput-upload{
      display: none;
    }


.main-menu.menu-dark .navigation > li.open > a{
  background: #5C8293  !important;
}
.main-menu.menu-dark .navigation > li ul li > a{
 background: #5C8293  !important; 
}


.btn-outline-success, .btn-outline-success:hover{
  border: 1px solid #5C8293 ;
  color: white;
  background-color:#5C8293 ; 
}

.btn-outline-danger, .btn-outline-danger:hover{
  border: 2px solid #CA003A ;
  background-color: #CA003A ;
  color: white;
}
 

 .btn-outline-primary, .btn-outline-primary:hover{
    border: 1px solid #5C8293 ;
    color: white;
    background-color:#5C8293 ; 
 }

 .main-menu.menu-dark .navigation > li.open > a{
  color: white;
 }
